___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 | b%2==0:
        if a>b:
            return b
        else:
            return a
    else:
        if a>b:
            return a
        else:
            return b

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [12]:
def animal_crackers(text):
    x=text.split()
    if x[0][0]==x[1][0]:
        return True
    else:
        return False

In [13]:
# Check
animal_crackers('Levelheaded Llama')

True

In [14]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [15]:
def makes_twenty(n1,n2):
    if n1+n2==20 or n1==20 or n2==20:
        return True
    else:
        return False

In [18]:
# Check
makes_twenty(12,8)

True

In [17]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [33]:
def old_macdonald(name):
    
    substring_first=name[:3].capitalize()
    substring_last=name[3:].capitalize()
    return substring_first+substring_last

In [34]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [43]:
def master_yoda(text):
    x=text.split()
    y= x[::-1]
    return ' '.join(y)

In [44]:
# Check
master_yoda('I am home')

'home am I'

In [45]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [51]:
def almost_there(n):
    #return abs(n-100)
    if abs(n-100)<=10 or abs(n-200)<=10:
        return True
    else:
        return False

In [52]:
# Check
almost_there(104)

True

In [53]:
# Check
almost_there(150)

False

In [54]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [81]:
def has_33(nums):
    x=0
    while  x < len(nums) -1:
       if nums[x] == 3 and nums[x+1] == 3:
          return True
       else:
          x=x+1
    return False

In [83]:
def has_33(nums):
    
    for  x in range(len(nums) -1):
       if nums[x] == 3 and nums[x+1] == 3:
          return True
       else:
          x=x+1
          continue
    return False

In [84]:
# Check
has_33([1, 3, 1,3,3])

True

In [85]:
# Check
has_33([1, 3, 1, 3])

False

In [64]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [11]:
def paper_doll(text):
    x=[n for n in text]
    # return x
    a=[]
    for n in x:
        i=0
        for i in range(3):
          a.append(n)
          i=i+1
        continue  
    return a

In [12]:
# Check
paper_doll('Hello')

['H', 'H', 'H', 'e', 'e', 'e', 'l', 'l', 'l', 'l', 'l', 'l', 'o', 'o', 'o']

In [13]:
# Check
paper_doll('Mississippi')

['M',
 'M',
 'M',
 'i',
 'i',
 'i',
 's',
 's',
 's',
 's',
 's',
 's',
 'i',
 'i',
 'i',
 's',
 's',
 's',
 's',
 's',
 's',
 'i',
 'i',
 'i',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p',
 'i',
 'i',
 'i']

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [16]:
def blackjack(a,b,c):
    x=a+b+c
    if x<=21:
        return x
    elif a==11 or b==11 or c==11:
        return x-10
    else:
        return 'BUST'

In [17]:
# Check
blackjack(5,6,7)

18

In [18]:
# Check
blackjack(9,9,9)

'BUST'

In [19]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [34]:
def summer_69(arr):
    mylist=[]
    for n in range(len(arr)-1):
        if arr[n]==6:
            while arr[n] !=9:
              mylist.append(arr[n])
              n=n+1
            mylist.append(arr[n])
        else:
            continue
    return sum(arr)-sum(mylist)

In [35]:
# Check
summer_69([1, 3, 5])

9

In [36]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [37]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [56]:
def spy_game(nums):
    mylist=[]
    for n in range(len(nums)-1):
        if nums[n]==0:
            i=n
            while i<len(nums)-1:
               mylist.append(nums[n])
               n=n+1
               i=i+1
        else:
            continue
    return mylist

In [58]:
# Check
spy_game([1,2,4,0,0,7,5])

[0, 0, 7, 0, 7]

In [57]:
# Check
spy_game([1,0,2,4,0,5,7])

[0, 2, 4, 0, 5, 0, 5]

In [51]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!