## IF statement

In [3]:
hungry=False
if hungry:
    print('I am hungry')
else:
     print('I am not hungry')

I am not hungry

In [6]:
Loc='Bank1'
if Loc=='Office':
    print('I am in office')
elif Loc=='Bank':
    print('I am in bank')
else:
    print('Where are you?')

Where are you?

## For loop

In [7]:
myList= [1,2,3,4,5,6,7,8,9,10]

In [9]:
for num in myList:
   print(num)

1
2
3
4
5
6
7
8
9
10

In [13]:
for num in myList:
    if num % 2==0:
      print(f'Even Number:{num}')
    else:
       print(f'Odd number:{num}')

Odd number:1
Even Number:2
Odd number:3
Even Number:4
Odd number:5
Even Number:6
Odd number:7
Even Number:8
Odd number:9
Even Number:10

In [15]:
sum_list=0
for num in myList:
    sum_list=sum_list+num
    #print inside for loop
    print(f'Running total:{sum_list}')
#print outside for loop
print(f'Total:{sum_list}')

Running total:1
Running total:3
Running total:6
Running total:10
Running total:15
Running total:21
Running total:28
Running total:36
Running total:45
Running total:55
Total:55

In [16]:
#itirate through string
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [18]:
#no variable name is used
for _ in 'Hello World':
    print('l')

l
l
l
l
l
l
l
l
l
l
l

In [19]:
#list of tuples
myList=[(1,2),(3,4),(5,6)]
len(myList)

3

In [20]:
for item in myList:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [21]:
#tuple unpacking
for (a,b) in myList:
    print(a)
    print(b)

1
2
3
4
5
6

In [22]:
myList=[(1,2,8),(3,4,7),(5,6,9)]
for a,b,c in myList:
    print(c)

8
7
9

In [28]:
d={'K1':1,'k2':2,'k3':3}
for value in d:
    #only prints keys
    print(value)

K1
k2
k3

In [27]:
d={'K1':1,'k2':2,'k3':3}
for value in d.items():
    # prints all
    print(value)

('K1', 1)
('k2', 2)
('k3', 3)

In [30]:
d={'K1':1,'k2':2,'k3':3}
for key,value in d.items():
    # prints only value
    print(value)

1
2
3

In [31]:
for letter in 'Sammy':
    if(letter=='a'):
        #continue keyword will go back to the closest closing loop
        continue
    print(letter)

S
m
m
y

In [ ]:
for letter in 'Sammy':
    if(letter=='a'):
        #break keyword will break closest closing loop
        break
    print(letter)

In [32]:
x=0
while x<5:
    print(x)
    x=x+1

0
1
2
3
4

In [33]:
# printing numbers from skiping 1 number in the range of 0-10 not including 10.
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [38]:
index_num=0
word='abcde'
for letter in word:
    print(f'{index_num}:{letter}')
    index_num=index_num+1

0:a
1:b
2:c
3:d
4:e

In [44]:
index_num=0
word='abcde'
for letter in word:
    print(f'({index_num},{word[index_num]})')
    index_num=index_num+1

(0,a)
(1,b)
(2,c)
(3,d)
(4,e)

In [40]:
word='abcde'
for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [4]:
mylist1=[1,2,3,4,5,6]
mylist2=['a','s','d']
for item in zip(mylist1,mylist2):
    print(item)
    # zip ingore extra entries ,only considers shortest list

(1, 'a')
(2, 's')
(3, 'd')

In [5]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 's'), (3, 'd')]

In [6]:
'x' in ['x','y']

True

In [7]:
1 in ['x','y']

False

In [8]:
list11= [10,20,30,40]

In [11]:
min(list11)

10

In [12]:
max(list11)

40

In [13]:
from random import shuffle

In [19]:
myylist =[1,2,3,4,5,6,7]

In [21]:
shuffle(myylist)

In [22]:
myylist

[4, 6, 2, 5, 3, 1, 7]

In [23]:
from random import randint

In [29]:
randint(1,100)

19

In [31]:
name=input('what is your name')

In [32]:
name

'promita'

In [33]:
result= input('number')

In [35]:
type(result)

str

In [36]:
int(result)

12

In [37]:
mylist=[]
mystring='hello'
for x in mystring:
    mylist.append(x)

In [38]:
mylist

['h', 'e', 'l', 'l', 'o']

In [39]:
mylist=[x for x in 'hello']

In [40]:
mylist

['h', 'e', 'l', 'l', 'o']

In [41]:
mylist=[num**2 for num in range(1,10)]
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
mylist=[num**2 for num in range(1,10) if num%2==0]
mylist

[4, 16, 36, 64]

In [44]:
myList=[]
for x in [1,2,3]:
    for y in [10,20,30]:
        myList.append(x*y)

In [45]:
myList

[10, 20, 30, 20, 40, 60, 30, 60, 90]

In [46]:
help(myList.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

## Functions

In [47]:
def say_hello(name):
    print(f'Hello {name}')

In [48]:
say_hello('Promita')

Hello Promita

In [49]:
def sum_num(a,b):
    return a+b

In [51]:
result=sum_num(10,20)

In [52]:
result

30

## Logic with Python Function

In [ ]:
# check if list has even number

In [53]:
def check_even(number_list):
    for num in number_list:
        if num%2==0:
            return True
        else:
            pass
    return False

In [54]:
check_even([2,3,5,6])

True

In [55]:
check_even([1,3,5,7])

False

In [ ]:
# retun even numbers in a list

In [56]:
def check_even(number_list):
    num_list=[]
    for num in number_list:
        if num%2==0:
            num_list.append(num)
        else:
            pass
    return num_list

In [57]:
check_even([1,2,3,4,5,6])

[2, 4, 6]

In [ ]:
# tuple unpacking using function

In [58]:
work_hour =[('promita',100),('dibakar',200),('oishi',300)]

In [59]:
def emp_of_month(work_hour):
    max_hour=0
    name=''
    for name,hour in work_hour:
        if hour>max_hour:
            max_hour=hour
            name=name
    return (name,max_hour)

In [60]:
emp_of_month(work_hour)

('oishi', 300)

In [61]:
result=emp_of_month(work_hour)

In [62]:
result

('oishi', 300)

In [63]:
name,hour=emp_of_month(work_hour)

In [66]:
name

'oishi'

In [67]:
hour

300

In [ ]:
#interaction between python functions

In [72]:
def suffle_list(num_list):
    shuffle(num_list)
    return num_list

In [88]:
suffle_list(['','0',''])

['', '', '0']

In [81]:
def player_guess():
    my_index=''
    while my_index not in ['0','1','2']:
        my_index= input('guess a number 0,1 or 2:')
    return int(my_index)

In [82]:
player_guess()

2

In [86]:
def guess_game(mylist,guess):
    if mylist[guess]=='0':
        print('correct answer!')
    else:
        print('Wrong answer!')
        print(mylist)

In [87]:
guess_game(['','0',''],1)

correct answer!

In [89]:
mylist=['','','0']
myList=suffle_list(mylist)
guess=player_guess()
guess_game(myList,guess)

correct answer!

In [90]:
myList

['', '0', '']

In [91]:
def myfunc():
    print('Hello World')

In [92]:
myfunc()

Hello World

In [94]:
def myfunc():
    result=input('your name?')
    print('hello '+result)

In [95]:
myfunc()

hello promita

In [108]:
def myfunc():
    value1=''
    while value1 not in ['True','False']:
        value1=input('enter value True/False')
    if value1=='True':
        print('Hello')
    else:
        print('Bye')

In [107]:
myfunc()

Hello

In [109]:
def myfunc(a,b,c):
    if(c==True):
        return a
    else:
        return b

In [110]:
myfunc('hi','bye',False)

'bye'

In [111]:
def myfunc(a,b):
    return a+b

In [113]:
myfunc('g','g')

'gg'

In [114]:
def is_even(num):
    if(num%2==0):
        return True
    else:
        return False

In [116]:
is_even(67)

False

In [117]:
def is_greater(a,b):
    if(a>b):
        return True
    else:
        return False

In [119]:
is_greater(3,10)

False

In [123]:
def myfunc(*args):
    #tupple
    print(args)
    return sum(args)*.5

In [124]:
myfunc(1,2,45,8)

(1, 2, 45, 8)

28.0

In [129]:
def myfunc(**kwargs):
    print(kwargs)
    if('fruit' in kwargs):
        print('I like {}'.format('fruit'))
    else:
        print('I didnt get fruit')

In [130]:
myfunc(fruit='apple',veggies='potato')

{'fruit': 'apple', 'veggies': 'potato'}
I like fruit

In [137]:
def myfunc(*args,**kwargs):
    print('i would like {} {}'.format(args[1],kwargs['food']))

In [138]:
myfunc(10,565,5667,food='eggs',fruit='banana')

i would like 565 eggs

In [149]:
def myfunc(*args):
    mylist=[]
    for num in args:
        if num%2==0:
          mylist.append(num)
        else:
            pass
    return mylist

In [150]:
myfunc(1,2,3,4,5,6,7)

[2, 4, 6]

In [155]:
import string

In [164]:

def myfunc(word):
    ml=[]
    # mylist=[x for x in word ]
    x=list(enumerate(word,1))
    #return x
    for index_num,letter in x:
        if index_num%2==0:
            ml.append(letter.lower())
        else:
            ml.append(letter.upper())
    return ''.join(ml)

In [166]:
myfunc('promita')

'PrOmItA'

In [1]:
def square(num):
    return num*num

In [2]:
mulist=[1,3,6,7]

In [3]:
for item in map(square,mulist):
       print(item)

1
9
36
49

In [4]:
list(map(square,mulist))

[1, 9, 36, 49]

In [5]:
def check_even(num):
    return num%2==0

In [6]:
check_even(2)

True

In [7]:
list(filter(check_even,mulist))

[6]

In [9]:
list(map(lambda x:x**2,mulist))

[1, 9, 36, 49]

In [10]:
list(filter(lambda x:x%2==0,mulist))

[6]

In [12]:
mystring=['apple','banana','milk']

In [14]:
list(map(lambda x:x[0],mystring))

['a', 'b', 'm']

In [15]:
list(map(lambda x:x[::-1],mystring))

['elppa', 'ananab', 'klim']

In [1]:
for x in 'apple is red':
    print(x)

a
p
p
l
e

i
s

r
e
d

In [3]:

game_choice=[0,1,2]
def current_game():
    print('current game')
    print(game_choice)

In [4]:
def choice_index ():
     index_number= 'Wrong'
     while index_number not in ['0','1','2']:
          index_number=input('Enter position 0,1,2:')
          print(f'entered value :{index_number}')
          if index_number not in ['0','1','2']:
               print('enter valid number')

     return int(index_number)

In [5]:

def replace_value(game_choice,choice_index):
    game_choice[choice_index]=input('enter new value: ')
    return game_choice

In [6]:
current_game()

choice_ind=choice_index()
replace_value(game_choice,choice_ind)

current game
[0, 1, 2]
entered value :
enter valid number
entered value :2

[0, 1, '2']

In [6]:
game_choice[1]

'1'